<div class="index clearfix">
	<h1 class="super"><%= @ingredients %>, eh?</h1>
	<% if @any %>
	<% recipes = @any %>
	<% elsif @all %>
	<% recipes = @all %>
	<% end %>
<% if @query.count > 1 %>
	<div class="row uppercase">
		<div class="col-xs-3 col-xs-offset-3">
			<p> <a class="btn  btn-default btn-lg <% if @any %> disabled<% end %>" href="/recipes/search/any?ingredients=<%= @ingredients %>">ANY</a><br><span class="hidden-xs"><%= @ingredients.split.join(' or ') %></span><p>
		</div>
		<div class="col-xs-3">
			<p><a class="btn btn-default btn-lg <% if @all %> disabled <% end %>" href="/recipes/search/all?ingredients=<%= @ingredients %>">ALL</a><br><span class="hidden-xs"><%= @ingredients.split.join(' and ') %> TOGETHER</span></p>
		</div>
<% end %>
	</div>
	<div class="row ">
		<div class="col-md-8 col-md-offset-2 recipe-count">
			<h3 class="skinny">We found <strong><%= recipes.count %></strong> recipe<% if recipes.count != 1 %>s<% end %> for you.</h3>
		</div>
	</div>
<% if recipes.count > 0 %>
	<ul class="list-unstyled super">
		<% recipes.each do |recipe| %>
		<li><a href="<%= recipe_path(recipe.id)%>"><%= recipe.title %></a></li>
		<% end %>
	</ul>
<% else %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="skinny">Sorry honey. Nothing's been made precisely like that. Here are a few tried-and-true combos if you're feeling stumped.</h3>
				<ul class="list-unstyled super">
					<li><a href="/recipes/search/all?ingredients=chocolate%20and%20peanut%20butter">Chocolate and Peanut Butter</a></li>
					<li><a href="/recipes/search/all?ingredients=bacon%20and%20sugar">Bacon and Sugar (together!)</a></li>
					<li><a href="/recipes/search/any?ingredients=ramen">Ramen</a></li>
					<li><a href="/recipes/search/any?ingredients=cilantro,%20lime,%20pesto">Cilantro, Lime or Pesto</a></li>
				</ul>
			</div>
		</div>
<% end %>

			&nbsp;
			<h3>Feelin' other flavors?</h3>
			<a class="btn btn-default search" href="/">Search Again</a>
		</div>