<div class="index clearfix">
	<h1 class="super"><%= @ingredients %>, eh?</h1>
	<% if @any %>
	<% recipes = @any %>
	<% elsif @both %>
	<% recipes = @both %>
	<% end %>
<% if @query.count > 1 %>
	<div class="row">
		<div class="col-md-3 col-md-offset-3">
			<a class="btn btn-default <% if @any %> selected <% end %> pull-right" href="/recipes/search/any?ingredients=<%= @ingredients %>">SHOW RECIPES WITH <span class="super">ANY</span></a>
		</div>
		<div class="col-md-3">
			<a class="btn btn-default <% if @both %> selected <% end %> pull-left" href="/recipes/search/both?ingredients=<%= @ingredients %>">SHOW RECIPES WITH <span class="super">BOTH</span></a>
		</div>
<% end %>
	</div>
	<div class="row ">
		<div class="col-md-8 col-md-offset-2 recipe-count">
			<h3 class="skinny">We found <strong><%= recipes.count %></strong> recipe<% if recipes.count != 1 %>s<% end %> for you.</h3>
		</div>
	</div>
<% if recipes.count > 0 %>
	<ul class="list-unstyled super">
		<% recipes.each do |recipe| %>
		<li><a href="<%= recipe_path(recipe.id)%>"><%= recipe.title %></a></li>
		<% end %>
	</ul>
<% else %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="skinny">Sorry honey. Nothing's been made precisely like that. Here are a few tried-and-true combos if you're feeling stumped.</h3>
				<ul class="list-unstyled super">
					<li><a href="/recipes/search/both?ingredients=chocolate%20and%20peanut%20butter">Chocolate and Peanut Butter</a></li>
					<li><a href="/recipes/search/both?ingredients=bacon%20and%20sugar">Bacon and Sugar (together!)</a></li>
					<li><a href="/recipes/search/any?ingredients=ramen">Ramen</a></li>
					<li><a href="/recipes/search/any?ingredients=cilantro,%20lime,%20pesto">Cilantro, Lime or Pesto</a></li>
				</ul>
			</div>
		</div>
<% end %>

			&nbsp;
			<h3>Feelin' other flavors?</h3>
			<a class="btn btn-default search" href="/">Search Again</a>
		</div>