<h1><%= @ingredients %>, eh?</h1>

<% if @common.count == 0 %>
	<h2>Sorry toots. Nothing's been made precisely like that. Here are a few tried-and-true combos if you're feeling stumped.<h2>
<% elsif @common.count == 1 %>
	<h2>We found <%= @common.count %> recipe for you.<h2>
<% else %>
	<h2>We found <%= @common.count %> recipes for you.<h2>
<% end %>

<ul class="list-unstyled">
	<% @common.each do |recipe| %>
	<li><a href="<%= recipe_path(recipe.id)%>"><%= recipe.title %></a></li>
	<% end %>
</ul>
&nbsp;
<p>Feelin' other flavors?</p>
<a class="btn btn-default" href="/">Search Again</a>