<!DOCTYPE html>
<html>
<head>
  <title>SpoonerApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/pmb1dkw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script>function goBack(){window.history.back()}</script>
</head>
<body>

<div class="container">
	<nav class="navbar">
    <a href="<%= root_path %>"><img class="home" src="<%= asset_path 'small-circle.png' %>"></a>
		<% if user_signed_in? %>
      <span>Welcome <%= current_user.email %> </span>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      <% end %>
	</nav>
	<p class="notice"><%= notice %></p><p class="alert"><%= alert %></p>
	<%= yield %>
</div>

</body>
</html>
