<!DOCTYPE html>
<html>
<head>
  <title>SpoonerApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=0.9;">
  <meta property="og:title" content="Hey Good Looking: What's Cooking?" />
  <meta property="og:image" content="<%= asset_path 'logo_circle.png' %>" />
  <script type="text/javascript" src="//use.typekit.net/pmb1dkw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script>function goBack(){window.history.back()}</script>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="row">
      <a class="col-xs-1" href="<%= root_path %>"><img class="home" src="<%= asset_path 'small-circle.png' %>"></a>
      <% if user_signed_in? %>
      <span class="col-xs-7 hidden-xs"><%= ['Yo','Hai','Sup','Howdy'].sample %> <%= current_user.name %> — see what you <a class="pink" id="saved" href="/recipes/<%= current_user.id %>/later">saved for later.</a></span>
      <span class="visible-xs col-xs-1 add-space"><a class="pink" id="saved" href="/recipes/<%= current_user.id %>/later">&hearts;</a></span>
      <span class="col-xs-4"><%= link_to "Sign Out", destroy_user_session_path, class:"pull-right" %>
      </span>
      <% else %>
      <span class="col-xs-1"><a href="/users/auth/facebook">Sign in with Facebook <span class="hidden-xs">to save some for later.</span></a></span>
      <% end %>
    </div>
    </div>
  </nav>
  <div class="container">
   <%= yield %>
 </div>
 <div id="footer">
  <div class="container">

    <p class="muted credit">&copy; 2014 Spoon University </p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-related="SpoonUniversity" data-hashtags="whatscookinggoodlooking">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>

</body>
</html>
